.af-view .w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.af-view {
  color: #fff;
  background-color: #1f1f21;
  font-family: Dmsans, sans-serif;
  font-size: .0694445vw;
  line-height: 1;
}

.af-view a {
  color: #ffa944;
  text-decoration: none;
}

.af-view label {
  margin-bottom: 10px;
  font-weight: 700;
  display: block;
}

.af-view .af-class-navbar_parent {
  z-index: 10000;
  height: 90em;
}

.af-view .af-class-navbar_grid {
  z-index: 1000;
  width: 100%;
  grid-column-gap: 46em;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  padding-top: 28em;
  padding-left: 38em;
  display: grid;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.af-view .af-class-menu_parent {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.af-view .af-class-menu_first, .af-view .af-class-menu_second {
  align-items: center;
  display: flex;
}

.af-view .af-class-navbar_link {
  height: 1.2em;
  color: #fff;
  cursor: pointer;
  margin-right: 3.71429em;
  font-family: Dmsans, sans-serif;
  font-size: 14em;
  text-decoration: none;
  overflow: hidden;
}

.af-view .af-class-navbar_link.af-class-is--gradient {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ffbf74, #fff 52%, #ec6fa3);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-navbar_link.af-class-is--gradient-2 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(270deg, #ffbf74, #ec6fa3 100%, #ec6fa3);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-text_hover {
  line-height: 1.2;
}

.af-view .af-class-text_hover.af-class-is--gradient {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(270deg, #ec6fa3, #fff 28%, #ffbf74);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-text_hover.af-class-small {
  font-size: 22px;
  line-height: 1.1818;
}

.af-view .af-class-herosection {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.af-view .af-class-hero_img {
  width: 755em;
  position: static;
  top: 110em;
}

.af-view .af-class-hero_img.af-class-is--hero {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.af-view .af-class-_1305_container {
  width: 100%;
  max-width: 1305em;
}

.af-view .af-class-_1305_container.af-class-is--absolute {
  position: absolute;
}

.af-view .af-class-heading--154 {
  letter-spacing: -.02em;
  font-family: Harmoneux, sans-serif;
  font-size: 154em;
  line-height: .694805;
}

.af-view .af-class-heading--154.af-class-is--marquee {
  white-space: nowrap;
}

.af-view .af-class-heading--154.af-class-is--marquee.af-class-is--wrap-mobile.af-class-animation-fadein {
  line-height: .7;
}

.af-view .af-class-overflow_hidden {
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
}

.af-view .af-class-overflow_hidden.af-class-is--hero1 {
  text-align: right;
}

.af-view .af-class-overflow_hidden.af-class-is--hero3 {
  padding-left: 178em;
}

.af-view .af-class-overflow_hidden.af-class-is--hero4 {
  text-align: right;
  padding-right: 20em;
}

.af-view .af-class-overflow_hidden.af-class-is--this-is-for {
  margin: 5em;
  transition: all .2s;
}

.af-view .af-class-overflow_hidden.af-class-is--loading {
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.af-view .af-class-overflow_hidden.af-class-is--32margin-bottom {
  margin-bottom: 32em;
}

.af-view .af-class-overflow_hidden.af-class-is-center {
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-overflow_hidden.af-class-is--link {
  height: 1.1em;
}

.af-view .af-class-overflow_hidden.af-class-is--24margin-bottom {
  margin-bottom: 24em;
}

.af-view .af-class-overflow_hidden.af-class-hide {
  display: none;
}

.af-view .af-class-text--hero {
  text-transform: uppercase;
  font-family: Dmsans, sans-serif;
  font-size: 22em;
  line-height: 1.18182;
  position: absolute;
  top: 1em;
  bottom: auto;
  left: 0%;
  right: auto;
}

.af-view .af-class-text--hero.af-class-is--2 {
  top: auto;
  bottom: 5.83636em;
  left: auto;
  right: 1.6em;
}

.af-view .af-class-brand_img {
  width: 209em;
}

.af-view .af-class-scroll_down {
  z-index: 5;
  height: 40em;
  position: absolute;
  top: auto;
  bottom: 28em;
  left: 40em;
  right: auto;
}

.af-view .af-class-section {
  border-top: 1.5px solid #fff;
}

.af-view .af-class-section.af-class-is--marquee {
  z-index: 5;
  padding-top: 20em;
  padding-bottom: 20em;
  position: relative;
  overflow: hidden;
}

.af-view .af-class-section.af-class-is--marquee.af-class-hide {
  display: none;
}

.af-view .af-class-section.af-class-is--100padding {
  padding-top: 100em;
  padding-bottom: 100em;
}

.af-view .af-class-section.af-class-is--explore {
  z-index: 600;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.af-view .af-class-section.af-class-is--c4c4c4-bg {
  background-color: rgba(196, 196, 196, .5);
}

.af-view .af-class-section.af-class-is--c4c4c4-bg.af-class-is--32padding {
  padding-top: 32em;
  padding-bottom: 32em;
}

.af-view .af-class-section.af-class-is--20padding {
  padding-top: 20em;
  padding-bottom: 20em;
  position: relative;
  overflow: hidden;
}

.af-view .af-class-section.af-class-is--20padding.af-class-is--54padding-bottom {
  padding-bottom: 54em;
}

.af-view .af-class-section.af-class-is--20padding.af-class-hide {
  display: none;
}

.af-view .af-class-section.af-class-is--web3 {
  padding-top: 20em;
  padding-bottom: 20em;
  position: relative;
  overflow: hidden;
}

.af-view .af-class-section.af-class-is--center {
  text-align: center;
  padding-top: 20em;
  padding-bottom: 20em;
  position: relative;
}

.af-view .af-class-section.af-class-is--footer {
  padding-top: 35em;
}

.af-view .af-class-section.af-class-is--80padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.af-view .af-class-section.af-class-is--80padding.af-class-no-bottom {
  padding-bottom: 20px;
}

.af-view .af-class-marquee-row {
  flex: none;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  transform: translate(100%);
}

.af-view .af-class-div-block-2 {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.af-view .af-class-getticket-btn {
  color: #fff;
  text-transform: uppercase;
  background-color: #1f1f21;
  border-radius: 100em;
  padding: .2em .65em .3em;
  font-family: Dmsans, sans-serif;
  font-size: 100em;
  text-decoration: none;
  transition: all .2s;
}

.af-view .af-class-getticket-btn:hover {
  color: #1f1f21;
  background-color: #fff;
}

.af-view .af-class-getticket-btn.af-class-_100 {
  width: 100%;
  padding-bottom: .2em;
}

.af-view .af-class-getticket-background {
  background-image: linear-gradient(to right, #b89260, #2999c7 17%, #c769ad 33%, #ffbf74 50%, #a53c6b 66%, #2982c7 83%, #c769c6);
  border-radius: 100em;
  padding: 4em;
}

.af-view .af-class-getticket-background.af-class-animation-fadein {
  text-align: center;
}

.af-view .af-class-getticket-background.af-class-small {
  text-align: center;
  padding: 2em;
}

.af-view .af-class-marquee-logo {
  max-height: 100em;
  margin-right: 24em;
}

.af-view .af-class-marquee-logo.af-class-is--shape {
  margin-right: 0;
}

.af-view .af-class-_1077_container {
  width: 100%;
  max-width: 1077em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_1077_container.af-class-is--text-center {
  text-align: center;
}

.af-view .af-class-_1077_container.af-class-is--text-center.af-class-is--40margin-bottom {
  margin-bottom: 40em;
}

.af-view .af-class-heading--137 {
  letter-spacing: -.02em;
  font-family: Harmoneux, sans-serif;
  font-size: 137em;
  line-height: .694805;
}

.af-view .af-class-heading--137.af-class-animation-fadein {
  line-height: .7;
}

.af-view .af-class-heading--137.af-class-is--nowrap {
  white-space: nowrap;
}

.af-view .af-class-heading--137.af-class-_24margin-bottom {
  margin-bottom: 24px;
}

.af-view .af-class-heading--137.af-class-_40margin-bottom-copy {
  margin-bottom: 40px;
}

.af-view .af-class-_300_container {
  width: 100%;
  max-width: 300em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_300_container.af-class-is--60margin-bottom {
  margin-bottom: 60em;
}

.af-view .af-class-_1207_container {
  width: 100%;
  max-width: 1207em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_1207_container.af-class-is--this-is-for {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

.af-view .af-class-this-is-for-item {
  letter-spacing: -.04em;
  background-image: linear-gradient(to right, #ffa944, rgba(210, 126, 112, 0) 50%, #c93074);
  border-radius: 100em;
  padding: .4em .6em;
  font-family: Dmsans, sans-serif;
  font-size: 30em;
  font-weight: 400;
  transition: all .2s;
}

.af-view .af-class-this-is-for-item.af-class-is--2 {
  background-image: linear-gradient(to right, #20aae2, rgba(127, 127, 185, 0) 50%, #c569c7);
}

.af-view .af-class-this-is-for-item.af-class-is--3 {
  background-image: linear-gradient(270deg, #ffa944, rgba(210, 126, 112, 0) 50%, #c93074);
}

.af-view .af-class-this-is-for-item.af-class-is--4 {
  background-image: linear-gradient(to right, #ffa944, rgba(210, 126, 112, 0) 50%, #20aae2);
}

.af-view .af-class-line {
  width: 100%;
  height: 1em;
  background-color: #fff;
}

.af-view .af-class-line.af-class-is--1px {
  height: 4px;
}

.af-view .af-class-line.af-class-hide, .af-view .af-class-line.af-class-hide-desktop {
  display: none;
}

.af-view .af-class-_1440container {
  width: 100%;
  max-width: 1440em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_1440container.af-class-is--flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.af-view .af-class-_1440container.af-class-is--flex-center.af-class-is--8margin-bottom {
  margin-bottom: 14em;
}

.af-view .af-class-_1440container.af-class-is--16margin-bottom {
  margin-bottom: 16em;
}

.af-view .af-class-_1440container.af-class-is--flex-left-right {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.af-view .af-class-_1440container.af-class-is--flex-left-right.af-class-is--34padding {
  padding-left: 34em;
  padding-right: 34em;
}

.af-view .af-class-_1440container.af-class-is--explore {
  z-index: 5;
  max-width: 1359em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
}

.af-view .af-class-_1440container.af-class-is--explore.af-class-is--8margin-bottom {
  margin-bottom: 14em;
}

.af-view .af-class-_1440container.af-class-is--20padding {
  padding-left: 20em;
  padding-right: 20em;
}

.af-view .af-class-animation-fadein {
  line-height: 1.2;
}

.af-view .af-class-graph-rotating {
  width: 88em;
  height: 88em;
}

.af-view .af-class-loading-screen {
  z-index: 10000;
  background-color: #1f1f21;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.af-view .af-class-loading-text-wrapper {
  width: 100%;
  align-self: center;
}

.af-view .af-class-loading-letter {
  height: 200em;
  margin-left: 5em;
  margin-right: 5em;
}

.af-view .af-class-loading-letter.af-class-is--3 {
  height: 133em;
  margin-left: -150em;
}

.af-view .af-class-marquee-wrapper {
  align-items: center;
  display: flex;
}

.af-view .af-class-marquee-wrapper.af-class-is--second {
  color: #1f1f21;
  justify-content: flex-end;
}

.af-view .af-class-marquee-wrapper.af-class-is--1 {
  color: #1f1f21;
}

.af-view .af-class-marquee-row-right {
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  transform: translate(100%);
}

.af-view .af-class-hover-text-wrapper {
  height: 1.2em;
}

.af-view .af-class-hover-text-wrapper.af-class-smal {
  height: .1em;
  font-size: 22em;
  line-height: 1.1818;
}

.af-view .af-class-hover-text-wrapper.af-class-small {
  font-size: 22px;
  line-height: 22px;
}

.af-view .af-class-hero_img-wrapper {
  position: relative;
}

.af-view .af-class-_1130_container {
  width: 100%;
  max-width: 1130em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_1130_container.af-class-is--14margin-bottom {
  margin-bottom: 14em;
}

.af-view .af-class-_1130_container.af-class-is--flex-right-left {
  justify-content: space-between;
  display: flex;
}

.af-view .af-class-_1130_container.af-class-is--flex-right {
  align-items: center;
  display: flex;
}

.af-view .af-class-chat-bulb {
  width: 100%;
  max-width: 22em;
  min-height: 5.4em;
  letter-spacing: -.02em;
  border: 1px solid #fff;
  border-radius: 2em;
  padding: 1.35em 1.15em 1.45em 1.5em;
  font-family: Dmsans, sans-serif;
  font-size: 20em;
  line-height: 1.2;
  display: block;
}

.af-view .af-class-chat-bulb.af-class-is--bigger {
  width: 27.75em;
  max-width: 27.75em;
}

.af-view .af-class-_870_container {
  width: 100%;
  max-width: 870em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_870_container.af-class-is--flex-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.af-view .af-class-star-wrapper {
  height: 108em;
  background-color: #2999c7;
  border-radius: 40em;
  justify-content: center;
  align-items: center;
  margin-right: 10em;
  padding-left: 14em;
  padding-right: 14em;
  display: flex;
}

.af-view .af-class-star-wrapper.af-class-is--2 {
  background-color: #ffa944;
}

.af-view .af-class-star-wrapper.af-class-is--nomargin-right {
  margin-right: 0;
}

.af-view .af-class-font-gradient-1 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ffa944, #2999c7 79%);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-_672_container {
  width: 100%;
  max-width: 672em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-grid_1column {
  grid-row-gap: 14em;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.af-view .af-class-grid_1column.af-class-is--nogap, .af-view .af-class-grid_1column.af-class-is--programm {
  grid-column-gap: 0px;
  grid-row-gap: 0em;
  align-content: start;
  align-items: start;
}

.af-view .af-class-_616_container {
  width: 100%;
  max-width: 616em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_616_container.af-class-is--flex-right {
  justify-content: flex-end;
  display: flex;
}

.af-view .af-class-font-gradient-2 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(270deg, #ffa944 53%, #2999c7);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-font-gradient-3 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ffa944, #2999c7 37%);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-font-gradient-4 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(270deg, #ffa944, #fff);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-programme-icon {
  height: 133em;
  margin-left: 80em;
  margin-right: 80em;
}

.af-view .af-class-grid_programme {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 300em 350em auto;
  grid-template-columns: auto 1fr auto 1fr auto;
  grid-auto-flow: row;
  align-content: start;
  align-items: start;
}

.af-view .af-class-line-vertical {
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.af-view .af-class-line-vertical.af-class-opacity-0 {
  opacity: 0;
}

.af-view .af-class-programme-headline-wrapper {
  display: flex;
}

.af-view .af-class-programme-cell {
  height: 49em;
  align-items: center;
  padding: 8em 40em;
  display: flex;
}

.af-view .af-class-programme-cell.af-class-is--16padding {
  height: 99em;
  align-items: flex-end;
  padding-top: 16em;
  padding-bottom: 16em;
  display: flex;
}

.af-view .af-class-heading--56 {
  font-family: Dmsans, sans-serif;
  font-size: 56em;
  font-weight: 700;
  line-height: 1.14286;
}

.af-view .af-class-text--20 {
  letter-spacing: -.02em;
  font-family: Dmsans, sans-serif;
  font-size: 20em;
  line-height: 1.2;
}

.af-view .af-class-text--20.af-class-is--medium {
  font-weight: 500;
}

.af-view .af-class-text--20.af-class-is--50opacity {
  opacity: .5;
}

.af-view .af-class-text--20.af-class-is--italic {
  font-style: italic;
}

.af-view .af-class-text--20.af-class-is--ffd3a9 {
  color: #ffd3a9;
}

.af-view .af-class-text--20.af-class-dark {
  color: #1f1f21;
}

.af-view .af-class-text--20.af-class-_60margin-top {
  margin-top: 60px;
}

.af-view .af-class-text--20.af-class-_28 {
  font-size: 28em;
}

.af-view .af-class-text--20.af-class-_28.af-class-regular {
  font-weight: 400;
}

.af-view .af-class-text--20.af-class-_16 {
  font-size: 16em;
}

.af-view .af-class-text--20.af-class-_12 {
  opacity: .6;
  margin-bottom: 8px;
  font-size: 12em;
}

.af-view .af-class-text--20.af-class-_100margin-top {
  margin-top: 100px;
}

.af-view .af-class-text--20.af-class-info {
  color: #1f1f21;
  background-color: #ffa944;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-block;
}

.af-view .af-class-programme-headline-date {
  margin-left: 8em;
}

.af-view .af-class-_1360_container {
  width: 100%;
  max-width: 1360em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_1360_container.af-class-is--footer {
  padding-top: 20em;
  padding-bottom: 20em;
}

.af-view .af-class-_1360_container.af-class-is--flex-right {
  justify-content: flex-end;
  display: flex;
}

.af-view .af-class-grid_2columns {
  grid-column-gap: 20em;
  grid-template-rows: auto;
}

.af-view .af-class-nft-image {
  height: 320px;
}

.af-view .af-class-speaker-cell {
  padding: 36em 63em;
}

.af-view .af-class-speaker-cell.af-class-is--eyes {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.af-view .af-class-text--26 {
  letter-spacing: -.02em;
  font-family: Dmsans, sans-serif;
  font-size: 26em;
}

.af-view .af-class-speaker-title {
  margin-bottom: 4em;
  display: flex;
}

.af-view .af-class-text--18 {
  letter-spacing: -.02em;
  font-family: Dmsans, sans-serif;
  font-size: 18em;
}

.af-view .af-class-text--18.af-class-is--ffa944-font {
  color: #ffa944;
}

.af-view .af-class-_8margin-left {
  margin-top: -8.2em;
  margin-left: 8em;
}

.af-view .af-class-grid_speakers {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto 1fr auto 1fr auto;
  align-content: start;
  align-items: start;
}

.af-view .af-class-box-scene {
  z-index: 500;
  height: 99em;
  perspective: none;
  position: relative;
  overflow: hidden;
}

.af-view .af-class-box-scene.af-class-is--49 {
  width: 719em;
  height: 49em;
}

.af-view .af-class-box-scene.af-class-is--speaker {
  height: 286em;
}

.af-view .af-class-box {
  height: 99em;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  background-color: #1f1f21;
  transition: all .5s cubic-bezier(.23, 1, .32, 1);
  position: relative;
  transform: perspective(500px)rotate(0);
}

.af-view .af-class-box:hover {
  transform: rotateX(90deg)rotateY(0)rotateZ(0);
}

.af-view .af-class-box.af-class-is--49 {
  height: 49em;
}

.af-view .af-class-box.af-class-is--speaker {
  height: 100%;
}

.af-view .af-class-box-top {
  z-index: 1;
  width: 100%;
  height: 99em;
  transform-origin: 50% 100%;
  background-color: #1f1f21;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.af-view .af-class-box-top.af-class-is--cell, .af-view .af-class-box-top.af-class-is--speaker {
  height: 100%;
}

.af-view .af-class-box-bottom {
  z-index: 2;
  width: 100%;
  height: 99em;
  transform-origin: 50% 0;
  color: #1f1f21;
  transform-style: preserve-3d;
  background-color: #ffa944;
  position: absolute;
  top: 99em;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: rotateX(-90deg)rotateY(0)rotateZ(0);
}

.af-view .af-class-box-bottom.af-class-is--49 {
  width: 100%;
  height: 100%;
  top: 49em;
}

.af-view .af-class-box-bottom.af-class-is--speaker {
  width: 100%;
  height: 100%;
  top: 100%;
}

.af-view .af-class-explore-parent {
  width: 100%;
  height: 40vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.af-view .af-class-explore-item {
  width: 100%;
  flex: none;
}

.af-view .af-class-explore-img {
  width: 40vw;
  height: 40vw;
  opacity: 0;
  object-fit: contain;
  margin: auto;
  transition: opacity .2s;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.af-view .af-class-map-link {
  height: 1.2em;
  cursor: pointer;
  font-size: 20em;
  text-decoration: none;
  overflow: hidden;
}

.af-view .af-class-map-popup {
  z-index: 110000;
  background-color: rgba(31, 31, 33, .84);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.af-view .af-class-map-popup.af-class-tickets {
  display: none;
}

.af-view .af-class-map-img {
  width: 758em;
}

.af-view .af-class-close-btn {
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.af-view .af-class-map-close-wrapper {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24em;
  display: flex;
}

.af-view .af-class-close_icon {
  width: 24em;
  height: 24em;
  margin-left: 16em;
}

.af-view .af-class-marquee-row-logos {
  flex: none;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  transform: translate(100%);
}

.af-view .af-class-globe_container {
  width: 100%;
  max-width: 300em;
  margin-bottom: 60em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-globe_container.af-class-is--60margin-bottom {
  margin-bottom: 60em;
}

.af-view .af-class-accordion-icon {
  display: none;
}

.af-view .af-class-faq_question {
  grid-column-gap: 65em;
  grid-row-gap: 16px;
  cursor: pointer;
  grid-template-rows: auto;
  grid-template-columns: 100em 1fr auto;
  grid-auto-columns: 1fr;
  padding: 40em;
  display: grid;
}

.af-view .af-class-faq_response {
  padding-left: 205em;
  overflow: hidden;
}

.af-view .af-class-text--58 {
  letter-spacing: -.02em;
  font-family: Dmsans, sans-serif;
  font-size: 58em;
}

.af-view .af-class-faq-response-wrapper {
  max-width: 790em;
  padding-bottom: 40em;
}

.af-view .af-class-faq--question-title {
  letter-spacing: -.02em;
  margin-bottom: .2em;
  font-family: Dmsans, sans-serif;
  font-size: 36em;
}

.af-view .af-class-faq__accrodion {
  width: 30em;
  margin-bottom: 10em;
}

.af-view .af-class-grid--footer {
  grid-template-rows: auto;
  margin-bottom: 300em;
}

.af-view .af-class-grid--footer.af-class-is--crendentials {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 0;
}

.af-view .af-class-grid--footer.af-class-is--menu {
  margin-bottom: 0;
  display: none;
}

.af-view .af-class-grid--footer.af-class-no-bottom {
  height: auto;
  margin-bottom: 0;
}

.af-view .af-class-footer_column {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.af-view .af-class-footer_link {
  color: #fff;
  font-family: Dmsans, sans-serif;
  font-size: 58em;
  text-decoration: none;
}

.af-view .af-class-form {
  border: 1px solid #fff;
  align-items: stretch;
  margin-top: 80em;
  display: flex;
  position: relative;
}

.af-view .af-class-input_field {
  height: 2.4em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  margin-bottom: 0;
  padding-left: 1em;
  font-family: Dmsans, sans-serif;
  font-size: 20em;
}

.af-view .af-class-input_field::-ms-input-placeholder {
  color: #fff;
}

.af-view .af-class-input_field::placeholder {
  color: #fff;
}

.af-view .af-class-submit-btn {
  width: 53em;
  height: 48em;
  background-color: #fff;
  transition: all .2s;
}

.af-view .af-class-submit-btn:hover {
  background-color: #1f1f21;
}

.af-view .af-class-submit-icon {
  height: 25em;
  mix-blend-mode: difference;
  position: absolute;
  top: 5em;
  bottom: auto;
  left: auto;
  right: 5em;
}

.af-view .af-class-footer_logo {
  width: 100%;
  margin-bottom: 48em;
}

.af-view .af-class-_710_container {
  width: 100%;
  max-width: 710em;
  margin-left: auto;
  margin-right: auto;
}

.af-view .af-class-_710_container.af-class-is--first-bulb {
  justify-content: space-between;
  padding-left: 20em;
  display: flex;
}

.af-view .af-class-menu_link, .af-view .af-class-menu_link-newsletter {
  display: none;
}

.af-view .af-class-grid_3els {
  grid-column-gap: 20em;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
}

.af-view .af-class-_313max {
  max-width: 313em;
}

.af-view .af-class-grid_partners {
  grid-column-gap: 64em;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto auto;
}

.af-view .af-class-text--36 {
  font-family: Dmsans, sans-serif;
  font-size: 36em;
  line-height: 1.55556;
}

.af-view .af-class-partner-img {
  height: 36em;
}

.af-view .af-class-successmessage {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 4em;
  padding: 0;
  font-size: 20em;
}

.af-view .af-class-navbar-nolink {
  height: 1.2em;
  color: #fff;
  margin-right: 3.71429em;
  font-family: Dmsans, sans-serif;
  font-size: 14em;
  text-decoration: none;
  overflow: hidden;
}

.af-view .af-class-navbar-nolink.af-class-is--gradient {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ffbf74, #fff 52%, #ec6fa3);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-navbar-nolink.af-class-is--gradient-2 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(270deg, #ffbf74, #ec6fa3 100%, #ec6fa3);
  -webkit-background-clip: text;
  background-clip: text;
}

.af-view .af-class-body {
  color: #fff;
  background-color: #1f1f21;
  position: relative;
}

.af-view .af-class-body.af-class-is--hidden {
  max-height: 100vh;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.af-view .af-class-credentialslink {
  color: #fff;
  transition: all .2s;
}

.af-view .af-class-credentialslink:hover {
  color: #ffa944;
}

.af-view .af-class-tickets-actions-wrapper {
  width: 758em;
  max-width: 100%;
  background-color: #1f1f21;
  border: 3px solid #fff;
  padding: 72em 50em;
}

.af-view .af-class-align-center {
  text-align: center;
}

.af-view .af-class-_60margin-top {
  margin-top: 60em;
}

.af-view .af-class-grid-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.af-view .af-class-grid-2.af-class-_60margin-top {
  grid-column-gap: 60px;
}

.af-view .af-class-grid-2.af-class-_3 {
  grid-column-gap: 60px;
  grid-template-columns: 1fr minmax(1px, 1.5px) 1fr;
}

.af-view .af-class-_16margin-top {
  margin-top: 16px;
}

.af-view .af-class-tickets-actions-wrapper-2 {
  width: 758em;
  max-width: 100%;
  background-color: #1f1f21;
  border: 3px solid #fff;
  padding: 72em 50em;
}

.af-view .af-class-getticket-btn-2 {
  color: #fff;
  text-transform: uppercase;
  background-color: #1f1f21;
  border-radius: 100em;
  padding: .2em .65em .3em;
  font-family: Dmsans, sans-serif;
  font-size: 100em;
  text-decoration: none;
  transition: all .2s;
}

.af-view .af-class-getticket-btn-2:hover {
  color: #1f1f21;
  background-color: #fff;
}

.af-view .af-class-getticket-btn-2.af-class-_100 {
  width: 100%;
  padding-bottom: .2em;
}

.af-view .af-class-_200-spacing {
  height: 200px;
}

.af-view .af-class-grid-2-columns {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.af-view .af-class-right.af-class-_100margin-top {
  margin-top: 100em;
}

.af-view .af-class-form-2 {
  width: 650px;
  max-width: 100%;
}

.af-view .af-class-submit-button {
  color: #1f1f21;
  cursor: pointer;
  background-color: #ffa944;
  border-radius: 500px;
  padding: 20px 28px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.af-view .af-class-text-field {
  background-color: rgba(0, 0, 0, 0);
  border: 0 #000;
  border-bottom: 1px solid #fff;
  margin-bottom: 40px;
  padding-left: 0;
  font-size: 20px;
  line-height: 28px;
}

.af-view .af-class-text-field:focus {
  color: #fff;
}

.af-view .af-class-text-field:focus-visible {
  color: #fff;
  border-bottom-color: #ffa944;
}

.af-view .af-class-text-field[data-wf-focus-visible] {
  color: #fff;
  border-bottom-color: #ffa944;
}

.af-view .af-class-text-field::-ms-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

.af-view .af-class-text-field::placeholder {
  color: rgba(255, 255, 255, .5);
}

.af-view .af-class-select-field {
  height: 48px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #fff;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 28px;
}

.af-view .af-class-select-field:focus {
  border-width: 1px;
  border-color: #ffa944;
}

.af-view .af-class-success-message {
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
}

.af-view .af-class-error-message {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 30px;
  padding-left: 0;
}

.af-view .af-class-vertical-line {
  width: 1.5px;
  height: 100%;
  opacity: .6;
  background-color: #fff;
}

.af-view .af-class-vertical-line.af-class-is--1px {
  height: 4px;
}

.af-view .af-class-vertical-line.af-class-hide, .af-view .af-class-vertical-line.af-class-hide-desktop {
  display: none;
}

.af-view .af-class-radio-button {
  width: 20px;
  height: 20px;
  border-width: 1.5px;
  border-color: #fff;
  margin-top: 10px;
  margin-right: 10px;
}

.af-view .af-class-radio-button.w--redirected-checked {
  background-color: #ffa944;
  border-style: none;
}

.af-view .af-class-radio-button-field {
  cursor: pointer;
}

.af-view .af-class-_28margin-left {
  margin-bottom: 28px;
  margin-left: 28px;
}

.af-view .af-class-_28margin-left.af-class-_40 {
  margin-bottom: 40px;
}

.af-view .af-class-_28margin-left.af-class-no-margin {
  margin-left: 0;
}

.af-view .af-class-bold {
  font-weight: 700;
}

.af-view .af-class-hide {
  display: none;
}

@media screen and (min-width: 1920px) {
  .af-view {
    font-size: .0520833vw;
  }
}

@media screen and (max-width: 991px) {
  .af-view {
    font-size: .130208vw;
  }

  .af-view .af-class-navbar_parent {
    z-index: 100000;
    height: 70em;
    mix-blend-mode: normal;
    display: block;
  }

  .af-view .af-class-navbar_grid {
    justify-items: center;
    padding-top: 20em;
    padding-left: 20em;
    padding-right: 20em;
  }

  .af-view .af-class-brand_link {
    z-index: 10000;
    position: relative;
  }

  .af-view .af-class-menu_parent {
    z-index: 9990;
    min-height: 100vh;
    background-color: #1f1f21;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20em;
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: auto;
  }

  .af-view .af-class-menu_first {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50em;
  }

  .af-view .af-class-menu_second {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50em;
  }

  .af-view .af-class-navbar_link {
    margin-right: 0;
    font-size: 40em;
    font-weight: 500;
  }

  .af-view .af-class-herosection {
    justify-content: center;
    padding-left: 20em;
    padding-right: 20em;
  }

  .af-view .af-class-hero_img {
    width: 340em;
  }

  .af-view .af-class-_1305_container.af-class-is--absolute {
    padding-left: 20em;
    padding-right: 20em;
  }

  .af-view .af-class-heading--154 {
    font-size: 60em;
  }

  .af-view .af-class-heading--154.af-class-is--marquee.af-class-is--wrap-mobile.af-class-animation-fadein, .af-view .af-class-heading--154.af-class-animation-fadein {
    line-height: .7;
  }

  .af-view .af-class-overflow_hidden.af-class-is--hero1, .af-view .af-class-overflow_hidden.af-class-is--hero3 {
    margin-bottom: 60em;
  }

  .af-view .af-class-overflow_hidden.af-class-is--hero4 {
    margin-bottom: 40em;
  }

  .af-view .af-class-overflow_hidden.af-class-is--this-is-for {
    margin: 3em;
  }

  .af-view .af-class-overflow_hidden.af-class-is--loading {
    font-size: .4em;
  }

  .af-view .af-class-overflow_hidden.af-class-is--alignement-left-tablet {
    align-self: flex-start;
  }

  .af-view .af-class-overflow_hidden.af-class-is--alignement-right-tablet {
    align-self: flex-end;
  }

  .af-view .af-class-overflow_hidden.af-class-is--hide-tablet {
    display: none;
  }

  .af-view .af-class-text--hero {
    font-size: 16em;
    position: static;
    top: 0;
    left: 1.25em;
  }

  .af-view .af-class-text--hero.af-class-is--2 {
    width: 50%;
    margin-left: 50%;
  }

  .af-view .af-class-scroll_down {
    bottom: 10em;
    left: 10em;
  }

  .af-view .af-class-section {
    padding-left: 20em;
    padding-right: 20em;
  }

  .af-view .af-class-section.af-class-is--marquee {
    padding: 13em 0;
  }

  .af-view .af-class-section.af-class-is--100padding {
    padding-top: 48em;
    padding-bottom: 48em;
  }

  .af-view .af-class-section.af-class-is--explore {
    min-height: 0;
    flex-direction: column;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
  }

  .af-view .af-class-section.af-class-is--20padding.af-class-is--54padding-bottom {
    padding-top: 13em;
    padding-bottom: 13em;
  }

  .af-view .af-class-section.af-class-is--nopadding {
    padding-left: 0;
    padding-right: 0;
  }

  .af-view .af-class-section.af-class-is--web3 {
    text-align: center;
    padding-top: 13em;
    padding-bottom: 13em;
  }

  .af-view .af-class-section.af-class-is--center {
    padding-top: 13em;
    padding-bottom: 13em;
  }

  .af-view .af-class-section.af-class-is--footer {
    padding-left: 0;
    padding-right: 0;
  }

  .af-view .af-class-section.af-class-is--80padding {
    padding-top: 48em;
    padding-bottom: 48em;
  }

  .af-view .af-class-getticket-btn {
    font-size: 30em;
  }

  .af-view .af-class-marquee-logo {
    max-height: 60em;
  }

  .af-view .af-class-marquee-logo.af-class-is--shape {
    max-height: 73em;
  }

  .af-view .af-class-heading--137 {
    font-size: 60em;
  }

  .af-view .af-class-heading--137.af-class-is--nowrap {
    white-space: normal;
  }

  .af-view .af-class-this-is-for-item {
    font-size: 16em;
  }

  .af-view .af-class-line.af-class-is--1px {
    height: 2px;
  }

  .af-view .af-class-line.af-class-is--hide-tablet {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .af-view .af-class-line.af-class-hide-desktop {
    display: block;
  }

  .af-view .af-class-_1440container.af-class-is--16margin-bottom {
    margin-bottom: 0;
  }

  .af-view .af-class-_1440container.af-class-is--flex-left-right.af-class-is--34padding {
    justify-content: center;
  }

  .af-view .af-class-_1440container.af-class-is--explore {
    text-align: center;
    padding-top: 16em;
    padding-bottom: 16em;
    position: static;
  }

  .af-view .af-class-graph-rotating.af-class-is--60-tablet {
    width: 60em;
    height: 60em;
  }

  .af-view .af-class-_1130_container.af-class-is--flex-right-left {
    flex-direction: column;
  }

  .af-view .af-class-chat-bulb {
    min-height: 0;
    border-radius: 1.2em;
    padding: 1em;
    font-size: 16em;
  }

  .af-view .af-class-chat-bulb.af-class-is--bigger {
    width: auto;
  }

  .af-view .af-class-_870_container.af-class-is--flex-right {
    flex-direction: column;
    align-items: stretch;
  }

  .af-view .af-class-star-wrapper {
    height: 76em;
    border-radius: 28em;
    margin-bottom: 10em;
    margin-right: 0;
    padding-left: 10em;
    padding-right: 10em;
  }

  .af-view .af-class-star-wrapper.af-class-animation-fadein {
    height: 76em;
  }

  .af-view .af-class-grid_1column {
    grid-column-gap: 16px;
    grid-row-gap: 14em;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    display: grid;
  }

  .af-view .af-class-grid_1column.af-class-is--programm {
    overflow: hidden;
  }

  .af-view .af-class-_616_container.af-class-is--flex-right.af-class-is--flex-left-tablet {
    justify-content: flex-start;
  }

  .af-view .af-class-grid_programme {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .af-view .af-class-line-vertical {
    display: none;
  }

  .af-view .af-class-programme-headline-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .af-view .af-class-programme-cell {
    padding-left: 20em;
    padding-right: 20em;
  }

  .af-view .af-class-programme-cell.af-class-is--16padding {
    height: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .af-view .af-class-heading--56 {
    letter-spacing: -.02em;
    font-size: 24em;
  }

  .af-view .af-class-text--20 {
    font-size: 16em;
  }

  .af-view .af-class-programme-headline-date {
    margin-top: 4em;
    margin-left: 0;
  }

  .af-view .af-class-_1360_container.af-class-is--footer, .af-view .af-class-_1360_container.af-class-is--20padding-tablet {
    padding-left: 20em;
    padding-right: 20em;
  }

  .af-view .af-class-speaker-cell {
    padding: 20em;
  }

  .af-view .af-class-grid_speakers {
    grid-template-columns: 1fr;
  }

  .af-view .af-class-box-scene.af-class-is--49 {
    width: 100%;
  }

  .af-view .af-class-box-scene.af-class-is--speaker {
    height: 200em;
  }

  .af-view .af-class-box-scene.af-class-is--speaker.af-class-display-none {
    display: none;
  }

  .af-view .af-class-explore-parent {
    height: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
  }

  .af-view .af-class-explore-item {
    width: 100%;
  }

  .af-view .af-class-explore-img {
    width: 100%;
    height: auto;
    opacity: 1;
    position: static;
  }

  .af-view .af-class-map-link {
    display: none;
  }

  .af-view .af-class-map-wrapper.af-class-tickets {
    max-width: 100%;
  }

  .af-view .af-class-globe_container {
    max-width: 200em;
  }

  .af-view .af-class-accordion-icon {
    width: 32em;
    display: block;
  }

  .af-view .af-class-faq_question {
    grid-column-gap: 16em;
    grid-template-columns: 80em 1fr auto;
    padding: 24em 20em;
  }

  .af-view .af-class-faq_response {
    padding-left: 20em;
    padding-right: 20em;
  }

  .af-view .af-class-text--58 {
    font-size: 26em;
  }

  .af-view .af-class-faq--question-title {
    margin-bottom: 0;
    font-size: 26em;
  }

  .af-view .af-class-grid--footer {
    grid-template-columns: 1fr;
    margin-bottom: 196em;
  }

  .af-view .af-class-grid--footer.af-class-is--crendentials {
    grid-template-columns: 1fr auto;
  }

  .af-view .af-class-grid--footer.af-class-is--menu {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    grid-auto-columns: 1fr;
    padding-bottom: 20em;
    padding-left: 20em;
    padding-right: 20em;
    display: grid;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .af-view .af-class-footer_column {
    flex-direction: row;
    justify-content: space-between;
  }

  .af-view .af-class-footer_link {
    font-size: 26em;
  }

  .af-view .af-class-footer_logo {
    margin-bottom: 20em;
  }

  .af-view .af-class-_710_container.af-class-is--first-bulb {
    flex-direction: column;
    padding-left: 0;
  }

  .af-view .af-class-menu_link {
    z-index: 9999;
    width: 30em;
    height: 30em;
    display: flex;
    position: relative;
  }

  .af-view .af-class-menu_lottie {
    width: 30em;
    height: 30em;
  }

  .af-view .af-class-menu_link-newsletter {
    font-size: .6em;
    display: block;
  }

  .af-view .af-class-navbar-nolink {
    margin-right: 0;
    font-size: 40em;
    font-weight: 500;
  }

  .af-view .af-class-_60margin-top.af-class-_20-tablet {
    margin-top: 20em;
  }

  .af-view .af-class-grid-2 {
    grid-template-columns: 1fr;
  }

  .af-view .af-class-grid-2.af-class-_3 {
    grid-column-gap: 20px;
  }

  .af-view .af-class-grid-2.af-class-_3.af-class-_60margin-top {
    grid-column-gap: 40px;
  }

  .af-view .af-class-getticket-btn-2 {
    font-size: 30em;
  }

  .af-view .af-class-vertical-line.af-class-is--1px {
    height: 2px;
  }

  .af-view .af-class-vertical-line.af-class-is--hide-tablet {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .af-view .af-class-vertical-line.af-class-hide-desktop {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .af-view {
    font-size: .208333vw;
  }

  .af-view .af-class-navbar_parent {
    height: 70em;
  }

  .af-view .af-class-heading--154.af-class-is--marquee.af-class-is--wrap-mobile {
    white-space: normal;
  }

  .af-view .af-class-overflow_hidden.af-class-is--loading {
    font-size: .3em;
  }

  .af-view .af-class-overflow_hidden.af-class-is--alignement-right-tablet.af-class-is--margin-top-mobile {
    margin-top: 14em;
  }

  .af-view .af-class-section.af-class-is--center {
    padding-left: 0;
    padding-right: 0;
  }

  .af-view .af-class-heading--137.af-class-_24margin-bottom.af-class-_40-top-landscape, .af-view .af-class-heading--137.af-class-_40margin-bottom-copy.af-class-_40-top-landscape {
    margin-top: 40px;
  }

  .af-view .af-class-star-wrapper.af-class-is--nomargin-right {
    margin-bottom: 0;
  }

  .af-view .af-class-explore-parent {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }

  .af-view .af-class-explore-item {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .af-view .af-class-map-wrapper.af-class-tickets {
    max-width: 100%;
  }

  .af-view .af-class-_710_container.af-class-is--first-bulb {
    padding-left: 0;
  }

  .af-view .af-class-_313max.af-class-overflow_hidden {
    text-align: center;
  }

  .af-view .af-class-grid-2.af-class-_3 {
    grid-template-columns: 1fr;
  }

  .af-view .af-class-vertical-line {
    width: 100%;
    height: 1.5px;
  }
}

@media screen and (max-width: 479px) {
  .af-view {
    font-size: .266667vw;
  }

  .af-view .af-class-navbar_parent {
    height: 70em;
  }

  .af-view .af-class-navbar_link {
    font-size: 38em;
  }

  .af-view .af-class-overflow_hidden.af-class-is--hero3 {
    padding-left: 56em;
  }

  .af-view .af-class-overflow_hidden.af-class-is--loading {
    font-size: .25em;
  }

  .af-view .af-class-text--hero {
    margin-bottom: 1em;
  }

  .af-view .af-class-hover-text-wrapper.af-class-small.af-class-animation-fadein {
    font-size: 16px;
    line-height: 16px;
  }

  .af-view .af-class-faq_question {
    grid-template-columns: 40em 1fr auto;
  }

  .af-view .af-class-navbar-nolink {
    font-size: 38em;
  }
}

.af-view #w-node-_3dc5a527-52b0-4f8c-ecfd-3fbeff791524-6fc6f102, .af-view #w-node-_3dc5a527-52b0-4f8c-ecfd-3fbeff791525-6fc6f102, .af-view #w-node-a09e21ea-20ba-9d3e-69cf-fead278e4391-6fc6f102, .af-view #w-node-_2dccd64b-e470-8fbb-93cd-30bb53cb9e49-6fc6f102, .af-view #w-node-_6fc7bdae-7f9d-4b12-9c8e-da48b4f287ac-6fc6f102 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

.af-view #w-node-c73cba14-1723-949f-1ab3-2bdf72efdb80-6fc6f102 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}


@font-face {
  font-family: 'Harmoneux';
  src: url('../fonts/Harmoneux.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dmsans';
  src: url('../fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dmsans';
  src: url('../fonts/DMSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Dmsans';
  src: url('../fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dmsans';
  src: url('../fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dmsans';
  src: url('../fonts/DMSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Dmsans';
  src: url('../fonts/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}